html, body {
  margin: 0;
  padding: 0;
}

a, h1, h2, p {
  font-family: 'Comfortaa';
}

body {
  background: #e6f2ff;
}

a {
  text-decoration: none;
  color: #001f4d;
  font-weight: bold;
}

#top {
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 10;
}

#footer, #sidebar, #top div {
  background: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

#header, #footer {
  left: 0px;
  width: 100%;
  align-items: center;
  padding: 5px;
}

#header {
  padding-top: 30px;
}

#menudrop {
  background: white;
  border: none;
  padding: 15px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: none;
  cursor: pointer;
  line-height: 4px;
}

#sidebar {
  align-items: flex-end;
  right: 0px;
  padding: 10px;
  border-radius: 10px;
  position: fixed;
}

#sidebar a {
  line-height: 50px;
  transition: 0.3s;
}


@media (max-width: 800px){
#menudrop {
  display: block;
}
#sidebar {
  width: 100%;
  max-height: 0;
  padding: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-radius: 0px;
}
#sidebar a {
  width: 100%;
  text-align: center;
}
}

.show {
  display: flex;
}

.pageHeader {
  background-image: linear-gradient(to right, rgba(0,51,128,1) 10%, rgba(0,51,128,0.1));
  width: 100%;
  padding: 30px 15px;
  top: 150px;
  color: white;
}

.box {
  background-image: linear-gradient(rgba(255,255,255,1) 60%, rgba(255,255,255,0));
  position: relative;
  margin: 50px;
  padding: 40px 30px 200px;
  width: 80%;
}

#creditList {
  font-size: 20px;
}



.page {
  padding-top: 170px;
  width: 100%;
  left: 0px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}



.carousel-item {
  height: 500px;
  background: #001f4d;
  color: white;
  padding: 30px 100px;
}

.carousel {
  width: 600px;
  margin: 30px 0px;
}
