/* Header */
.Header {
  width: 100vw;
  height: 10vh;
  background-color: #C7FFD8;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
}

.nav-link {
    margin: 10px;
    height: 100%;
    width: 80%;
    background-color: white;
    color: rgb(138, 178, 128);
    text-decoration: none;
}

.nav-link.active {
    font-weight: bold;
}



/* Body */
.Body {
    width: 80vw;
    background-color: #C7FFD8;
}