/* Header */
.Header {
  width: 100vw;
  height: 10vh;
  background-color: #C7FFD8;
  display: flex;
  justify-content: space-evenly;
}

.nav-link {
    flex-grow: 1;
    background-color: white;
    color: rgb(138, 178, 128);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.nav-link.active {
    font-weight: bold;
}



/* Body */
.Body {
    width: 80vw;
    flex-grow: 1;
    background-color: #C7FFD8;
    margin: 20px 0px;
    padding: 10px;
}